.main-flex{
    display: grid;
    margin: 10px;
    height: 700px;
    border: 5px solid black;
    grid-template-columns:repeat(2, 1fr);
    
}
.flex-div{
    border: 1px solid red;
    text-align: center;
    
}
.header{
    background-color: aqua;
}
.main{
    background-color: blueviolet;
}
